* {
    box-sizing: border-box;
}

body {
    background-color: #22252C;
}

.hidden-section {
    visibility: hidden;
    height: 0;
    width: 0;
    transition: visibility 1ms;
}

/*NAV-BAR*/

.main-header {
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    list-style: none;
    border-radius: 37px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 35px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    top: 0;
}

.main-nav button {
    max-height: 48px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #fefefe;
    margin-left: 10px;
    color: #21ac91;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    text-align: left;
    text-align: center;
}

input {
    font-size: 24px;
}

.logo {
    color: #ffffff;
    font-family: eurofurence;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-left: 7px;
}

.search-nav {
    display: flex;
    flex-direction: column;
}

.search-nav input {
    margin-top: 30px;
    border: none;
    height: 58px;
    border-radius: 29px;
    background-color: #22252C;
    padding-left: 50px;
    margin-bottom: 18px;
}

.search-nav input img {
    height: 10px;
}

.key-words {
    margin-top: 30px;
    border: none;
    border-radius: 29px;
    display: flex;
    background-color: #87898D;
    color: #FEFEFE;
    border-radius: 49px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

/*MAIN-CONTAINER -GALLERY*/

.main-content-gallery {
    display: flex;
    flex-direction: column;
}

.image-gallery {
    height: 90vh;
    display: grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: 170px 170px;
    grid-gap: 18px;
    /* justify-items: stretch; */
    /* align-items: start; */
    justify-content: center;
}

.image-gallery img {
    height: 170px;
    width: 170px;
    border-radius: 10px;
}

/*MAIN-CONTAINER -EDITOR*/

/*editor-container*/

.main-content-editor {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.editor-container {
    width: 94vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #ebeef3;
    opacity: 0.70;
    gap: 15px;
}

.editor-container>* {
    margin: 0 auto;
}

.editor-container .text input {
    margin-top: 23px;
}

.text input {
    width: 201px;
    height: 43px;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
    align-self: flex-start;
}

.text-btn button {
    /* Style for "Rectangle" */
    margin: 0 auto;
    width: 57px;
    height: 53px;
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.text-btn img {
    height: 36px;
}

/*CANVAS*/

canvas {
    border-radius: 15px;
    background-color: white;
    margin-top: 21px;
    width: 100vw;
    height: 50vh;
}

.edit-text-container {
    /* Style for "Rectangle" */
    height: 151px;
    border-radius: 15px;
    background-color: #19a59f;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.edit-text-container button {
    width: 50px;
    height: 50px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    background-color: #ffffff;
}

.edit-text-container img {
    width: 30px;
    height: 30px;
}

.downLoad-container {
    gap: 54px;
}

.downLoad-btn a {
    text-decoration: none;
}

.downLoad-btn {
    width: 110px;
    font-family: Poppins;
    font-size: 21px;
    height: 51px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #1e7cd3;
}

.share-btn {
    font-size: 21px;
    font-family: Poppins;
    width: 110px;
    height: 51px;
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #8f44bb;
}

.downLoad-container {
    display: flex;
}

.btn-menu-toggle {
    display: none;
}

/*LAYOUT*/

.main-layout {
    max-width: 370PX;
    /*margin: 0 auto;*/
}

.gallery-container {
    background-color: #383B42;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 21px;
}

/*DESKTOP*/

@media (min-width:450px) {
    .btn-menu-toggle {
        display: none;
    }
    .main-content-editor {
        max-width: 61.25rem;
        padding-top: 40px;
        margin: 0 auto;
        flex-direction: row;
        gap: unset;
    }
    canvas {
        margin-top: unset;
        width: 40vw;
        height: 68vh;
    }
    .text input {
        width: 445px;
        height: 57px;
    }
    .edit-text-container {
        /* Style for "Rectangle" */
        width: 445px;
    }
    .editor-container {
        width: 40vw;
        height: 68vh;
        margin-left: 10px;
        width: 50vw;
        padding-top: 61PX;
    }
    .downLoad-btn {
        width: 213px;
    }
    .share-btn {
        width: 213px;
    }
    .downLoad-container {
        gap: 10px
    }
    .editor-container .text input {
        margin-top: unset;
    }
    .image-gallery {
        grid-template-columns: repeat(auto-fit, minmax(170px, 203px));
        grid-gap: 25px;
    }
    .image-gallery img {
        width: 200px;
        height: 173px;
    }
    .search-nav input {
        width: 541px;
    }
    .search-nav {
        display: flex;
    }
    .image-gallery img:hover {
        box-shadow: 0 0 0rem 0px #fff, 0 0 0rem #fff, 0 0 1rem #fff, 0 0 0rem #fff, 0 0 0rem #fff, inset 0 0 0rem #fff;
    }
    .key-words {
        width: 540px;
        margin-left: 50px;
        justify-content: center;
        align-items: center;
        gap: 17px;
        flex-wrap: wrap;
    }
    .main-header {
        height: 73px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
        list-style: none;
        border-radius: 37px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 35px;
    }
    .main-nav {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        top: 0;
    }
    .main-nav li:not(:last-child) {
        margin-right: 30px;
    }
    .main-nav button {
        width: 116px;
        height: 40px;
        box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        background-color: #fefefe;
        margin-left: 10px;
        color: #21ac91;
        font-family: Poppins;
        font-size: 21px;
        font-weight: 500;
        text-align: left;
        text-align: center;
    }
    .main-layout {
        max-width: 1430PX;
        margin: 0 auto;
    }
    .search-nav {
        margin: unset;
        flex-direction: unset;
    }
    .gallery-container {
        background-color: #383B42;
        width: 100%;
        height: 100%;
        padding: 30px 15px;
        border-radius: 15px;
        margin-top: 21px;
    }
}