* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    margin: 0;
}

.hidden-section {
    visibility: hidden;
    height: 0;
    width: 0;
    transition: visibility 1ms;
}

/*NAV-BAR*/

nav {
    margin: 0 auto;
    width: 1257px;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 73px;
    border-radius: 37px;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    align-items: center;
    justify-content: flex-end;
}

nav button {
    width: 116px;
    height: 40px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #fefefe;
    margin-left: 10px;
    color: #21ac91;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-align: center;
}

.logo {
    color: #ffffff;
    font-family: eurofurence;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

/*MAIN-CONTAINER -GALLERY*/

.main-content-gallery {
    display: flex;
    flex-direction: column;
}

.image-gallery {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.image-gallery img {
    width: 200px;
    height: 173px;
}

.search-nav input {
    margin-top: 10px;
    margin-bottom: 16PX;
    width: 541px;
    height: 58px;
    border-radius: 29px;
    background-color: #22252c;
}

/*MAIN-CONTAINER -EDITOR*/

/*editor-container*/

.main-content-editor {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.editor-container {
    width: 94vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 30px;
    background-color: #ebeef3;
    opacity: 0.70;
    gap: 15px;
}

.editor-container>* {
    margin: 0 auto;
}

.text input {
    width: 201px;
    height: 43px;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
    align-self: flex-start;
}

.text-btn button {
    /* Style for "Rectangle" */
    margin: 0 auto;
    width: 57px;
    height: 53px;
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.text-btn img {
    height: 36px;
}

/*CANVAS*/

.canvas-container {
    width: 100vw;
    height: 50vh;
}

canvas {
    border-radius: 15px;
    background-color: white;
    margin-top: 21px;
    width: 100vw;
    height: 50vh;
}

.edit-text-container {
    /* Style for "Rectangle" */
    height: 151px;
    border-radius: 15px;
    background-color: #19a59f;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.edit-text-container button {
    width: 50px;
    height: 50px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    background-color: #ffffff;
}

.edit-text-container img {
    width: 30px;
    height: 30px;
}

.downLoad-container {
    gap: 54px;
}

.downLoad-btn a {
    text-decoration: none;
}

.downLoad-btn {
    width: 100px;
    font-family: Poppins;
    font-size: 21px;
    height: 51px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #1e7cd3;
}

.share-btn {
    font-size: 21px;
    font-family: Poppins;
    width: 100px;
    height: 51px;
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #8f44bb;
}

.downLoad-container {
    display: flex;
}

.btn-menu-toggle {
    display: block;
}

@media (min-width:720px) {
    .btn-menu-toggle {
        display: none;
    }
    .main-content-editor {
        max-width: 61.25rem;
        padding-top: 40px;
        margin: 0 auto;
        flex-direction: row;
        gap: unset;
    }
    canvas {
        margin-top: unset;
        width: 40vw;
        height: 68vh;
    }
    .text input {
        width: 445px;
        height: 57px;
    }
    .edit-text-container {
        /* Style for "Rectangle" */
        width: 445px;
    }
    .canvas-container {
        width: 40vw;
        height: 68vh;
    }
    .editor-container {
        width: 40vw;
        height: 68vh;
        margin-left: 10px;
        width: 50vw;
        padding-top: 61PX;
    }
    .downLoad-btn {
        width: 213px;
    }
    .share-btn {
        width: 213px;
    }
    .downLoad-container {
        gap: 10px
    }
}